<h1>Welcome!</h1>

<h2>Please click on the Login_form link, so you can Login and write an awesome blog post!</h2>
<h3>(FYI, you can try to post without logging in, but we won't like that, and won't let you)</h3>

<div>New Post</div>

<%= form_with url: "/new_user_post", method: "post" do |form| %>
    <div><%= label :title, "title" %><%= form.text_field :title %></div>
    <div><%= label :content, "content" %><%= form.text_field :content %></div>
    <div><%= form.submit "Submit" %></div>
<% end %>
