<p id="notice"><%= notice %></p>

<h3><%= @post.title %></h3>
<p><%= @post.content %></p>

<h4>Comments</h4>

<%= form_for @comment do |f| %>
    <%= f.text_field :body %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :post_id %>

    <%= f.submit %>
<% end %>

<% @post.comments.each do |comment| %>
    <p><b><%= comment.user.username %></b> <%= comment.body %></p>
<% end %>


<%= link_to 'Edit', edit_user_post_path([@current_user, @post]) %> |
<%= link_to 'Back', user_posts_path %>
