<!DOCTYPE html>
<html>
  <head>
    <title>RailsExercise1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= link_to "Home", "/" %> <br>
      <%= link_to "Index", "/users" %>
      <% if logged_in? %>
          <%= link_to "logout", "/logout" %>
      <% else %>
          <%= link_to "New", new_user_path %>
          <%= link_to "Login_form", "/login_form" %>
      <% end %>
      <%= link_to "Comments", "/comments" %>

      <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
